.active-purple-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.custom-card{
  height: 290px;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 10px;
  margin: 1px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  

  .bild{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .text{
    padding-top: 10px;
    padding-left: 10px;
    height: 90px;
    font-size: 20px;
  }
}