<div class="md-form active-purple active-purple-2 mb-3">
  <input class="form-control" type="text" (input)="searchbarUsedbyUser($event)" placeholder="Search Song or Artist"
  >

  <div *ngFor="let i of data" >
    <div class ="custom-card" (click)="selectSongfromSearchBar(i)">
      
      <img class="bild" src="{{ i.url }}" />

    <div class="text">
      Titel: {{i.song_name}}
      <p></p>
      <small class="text-primary">
        Interpret: {{i.artist}}
      </small>
    </div>
    </div>
  </div>
</div>
