<div class="card">
  <span class="titel">
    {{ titel }}
  </span>
  <p>{{ interpret }}</p>
  <img src="{{ bild }}" />
  <span class="description">
    Votes: {{ votes }} <br />
    Zeit: {{ time }}
  </span>
  <button  
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a filter list icon"
    (click)="deleteSongFromList(song_id)"
  >
    <mat-icon >delete</mat-icon>
  </button>
  <button
    
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a filter list icon"
    (click)="setSongAlsGespielt(song_id)"
  >
    <mat-icon>done</mat-icon>
  </button>
</div>
