.bg-light{
background-color: #F2F2F2 !important;

left:0;
right: 0;
}
.test2{
    background-color: #5A5A5A !important;

    left:0;
    right: 0;

}

.foot-text{
    font-size: 1em !important;

}

.textpos{
    padding: 10px;
}
