<div class="card">
  <div class="headercard">
    <span class="titel">
      {{ titel }}
    </span>
    <p>{{ interpret }}</p>
  </div>
  <img src="{{bild}}" />
  <div class="footercard">
    <span class="description">
      Votes: {{ votes }} <br />
    </span>
    <div class="example-button-container">
      <button 
      mat-mini-fab 
      aria-label="Example icon button with a heart icon" 
      (click)="changeVoteFromSong(song_id)">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
  </div>
  