.card{
  height: 360px;
  background-color: white;
  width: 49%;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 1%;
  margin-top: 10px;
  margin-bottom: 5px;
  

  .headercard{
    height: 90px;
    padding-top: 10px;
    padding-left: 10px;
  }

  img{
    width: 100%;
  }
  p{
    padding-top: 10px;
    padding-right: 16px;
    color: rgba(0,0,0,0.8);
    font-size:20px;
  }

.footercard{
  height: 50px;
  

  button{
    position: absolute;
    vertical-align: middle;
    right: 0;
    cursor: pointer;
    margin-right: 5%;
    margin-top: 19px;

    &:hover{
      background-color: rgba(0,0,0,0.05);
    }

  }
  }
 
}

.description{
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  padding-top: 28px;
  position: absolute;
  padding-left: 8px;
  
}

.titel{
  padding-right: 16px;
  color: rgba(0,0,0,0.8);
  font-size: 22px ;
  font-weight: bold;
}
